body {
    background-color: #d9d9d9; /* Light grey background */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Optional: Set a default font */
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 930px;
    padding: 10px;
}

.weather-card {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.highlights-card {
    flex: 0.5;
    min-width: 250px;
    align-items: left;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .weather-card,
    .highlights-card {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.error-message {
    color: red;
    text-align: center;
    margin: 20px 0;
}
